.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main p {
    margin: 0;
}

.main-characters {
    margin: 0;
    margin-top: 30px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin: 20px 0;
}

.legend {
    background: #c4c4c4;
    padding: 10px;
    letter-spacing: 4px;
    margin: 10px 0;
    display: block;
}

p.secret {
    margin: 20px 0;
}

.sekret-key {
    background: #c4c4c4;
    padding: 10px;
    letter-spacing: 4px;
    margin: 10px 0;
    text-transform: uppercase;
}

.changes {
    background: #f2f2f2;
    padding: 30px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.result {
    color: green;
}

.btn {
    background: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: unset;
    padding: 10px 15px;
    min-width: 150px;
}

.start-values {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.start-values p, .result-values p {
    margin: 0;
}


.legend-table {
    margin-bottom: 10px;
}

.legend-table td {
    padding: 5px;
    text-align: center;
    border: 1px solid #000;

}

.legend-table td:nth-of-type(even) {
    background: #c1c1c1;
}

.legend-table td:nth-of-type(odd) {
    background: #000;
    color: #fff;
}